/* Nav Bar CSS */

/* Header CSS */



/* Section CSS */



/* About Section CSS */
body {
    background-color: gainsboro;
    color: salmon;
    font-family: "Noto Sans";
}
.border:hover {
    background-color: black;
}

/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


