/* Nav Bar CSS */

/* Header CSS */



/* Section CSS */



/* About Section CSS */
body {
    background-color: gainsboro;
    color: black;
    font-family: "Noto Sans";
}
.border:hover {
    background-color: black;
}

/* Portfolio Item CSS */
.center {
    text-align: center;
}


/* Footer CSS */



/* Button CSS */


